<% content_for :title do %>
<ul class="breadcrumb">
	<li>
		<%= link_to t("projects.show.header"), projects_path %><span class="divider">/</span>
	</li>
	<li>
		<%= link_to @job.project.name, project_path(@job.project.id) %><span class="divider">/</span>
	</li>
	<li class="active">
		<%= t("jobs.new.header") %>
	</li>
</ul>
<% end %>
<% if !@jobs_with_same_catalog_id.blank? %>
<div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">
		&times;
	</button>
	<strong><%= t("jobs.errors.same_catalog_id")%></strong>
	<br/>
	<% @jobs_with_same_catalog_id.take(5).each do |x| %>
	<br/>
	<%= "#{x.id} - "%>
	<%= link_to x.display_title, job_path(x) %>
	<% if x.has_pdf? %>
	<%= link_to(t("jobs.pdf_link"),job_path(x, :format => :pdf))  %>
	<% end %>
	<% end %>
	<% if @jobs_with_same_catalog_id.size > 5 %>
		<br/><%= "... +#{@jobs_with_same_catalog_id.size-5}"%>
	<% end %>
</div>
<% end %>
</div>
<div class="edit_form">
	<%= render :partial => 'job_form' %>
</div>
