<% content_for :title do %>
<%= link_to t("users.index.header"), users_path %>: <%= link_to @user.name, user_path(@user.id) %>: 
<% if @user != @current_user %>
<%= t("users.change_password.change_password_for") %> <%= @user.name %></p>
<% else %>
<%= t("users.change_password.change_password") %>
<% end %>
<% end %>

<%= form_for @user, :url => { :action => :set_password, :id => @user.id } do |f| %>
  <%= f.label :password, t("users.password") %><br/>
  <%= f.password_field :password %><br/>
  <%= f.label :password_confirm, t("users.password_confirm") %><br/>
  <%= f.password_field :password_confirm %><br/>
  <%= hidden_field_tag :return_path, params[:return_path] %>
  <%= submit_tag t("common.form.submit") %>
<% end %>


